section {
    margin: 30px 30px;
    position: relative;
    text-align: center;
}

form {
    padding-top: 20px;
}

input[type=text], input[type=password] {
    display: block;
    width: 30%;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lrBtn {
    margin-top: 10px;
    padding: 16px 20px;
    cursor: pointer;
    width: 30%;
    font-size: 20px;
}

